.content
  margin: 0 auto
  width: 100%

.card
  .card-body
    .avatar-section
      margin-right: 1rem
      width: 40%
      display: flex
      align-items: center
      justify-content: center
      border-right: 1px solid #dee2e6

      .avatar
        margin: 0
        width: 7rem
        height: 7rem
        border-radius: 50%

        &.big
          width: 10rem
          height: 10rem

@media screen and (min-width: 768px)
  .content
    width: 34.5rem
