h1
  font-size: 1.2rem

.card
  margin: 0 auto
  width: 100%

  .card-body
    .logo
      width: 50%
  
    .card-title
      font-size: 1.4rem
      font-weight: bold
  
    .users-list,
    .sign-in-button
      margin: 0.25rem 0
      width: 100%

@media screen and (min-width: 768px)
  .logo
    width: 30%
